# Jupyter notebook checkpoints
.ipynb_checkpoints/
ipynb_checkpoints/

# Data directories
data/
data/*

# Log files
logs/
logs/*

# Model checkpoints
model_checkpoint/
model_checkpoints/
model_checkpoint/*